@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação de apagar o usuario";
}

<div class="text-center">
    <h3>Deseja realmente apagar o usuario (@Model.Nome)?</h3>
</div>
<br />
<a class="btn btn-secondary d-block" role="button" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
<br />
<a class="btn d-block" style="background:#000099;color:#fff;" role="bustton" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>