@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}


<p>Você não tem permissão para acessar está funcionalidade, <a asp-controller="Home" asp-action="Index">Clique aqui para voltar para a pagina inicial.</a></p>
