@model ContatoModel
@{
    ViewData["Title"] = "Confirmação de apagar o contato";
}

<!--btn-lg btn-block-->

<div class="text-center">
    <h3>Deseja realmente apagar o contato (@Model.Nome)?</h3>
</div>
<br />
<a class="btn btn-primary d-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<br />
<a class="btn btn-danger d-block" role="bustton" asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>